		h1 {
		color: grey;
		margin-top: 15px;
		}
		p {
		color: white;
		font-size: 20px;
		}
		body {
		/*background-image: url(https://img5.goodfon.com/original/4961x3280/b/d9/audi-rs6-avant-2019-universal-peredniaia-chast-tiomno-seryi.jpg);
		*/
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		height: 100vh;
		margin-bottom: 4000px;
		text-align: center;
		}
		h2 {
		color: orange;
		text-align: left;
		}
		p {
			color: white
		}
		ul {		
		margin: 0;
		list-style: none;
		display: inline;
		border: 4px solid aquamarine;
		border-radius: 12px;
		padding: 5px;
		}
		li {
		display: inline;
		line-height: 5.5;
		}
		a {
		text-decoration: none;
		}
		.mainColor {
			line-height: 5.5;
			color: yellow;
		}
		.mainColor2 {
			line-height: 5.5;
			color: grey;
		}
		.mainColor3 {
			color: coral;
			line-height: 5.5;
		}
		.footer {
			background-color: black;
			background-image: url(https://sun9-50.userapi.com/impg/38aeyzC6FjZNpEI0_Gzu-JzXET7Yth2eUOss7Q/pZbWxMpc0DY.jpg?size=735x162&quality=96&sign=ffa59b645acccde59095661158711e34&type=album);
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
